<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dudress.main">


    <!-- Include following permission if you load images from Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="com.dudress.main.DressApplication"
        android:allowBackup="true"
        android:icon="@mipmap/du_dress_icon_108"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="DATABASE"
            android:value="du.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.dudress.dress.db.models" />


        <activity
            android:name="com.dudress.main.ui.activities.PublicationActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dudress.main.ui.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/login_btn_text"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:label="@string/forget_pwd_title"
            android:name="com.dudress.main.ui.activities.ForgetPwdActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.dudress.main.ui.activities.SignUpActivity"
            android:screenOrientation="portrait"
            android:label="@string/sign_up_title"
            ></activity>
        <activity
            android:name="com.dudress.main.ui.activities.SignUpEmailCodeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dudress.main.guideshow.GuideActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:label="@string/setting_title"
            android:name="com.dudress.main.ui.activities.SettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.dudress.main.ui.activities.PageActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.AccountModifyActivity"
            android:screenOrientation="portrait"></activity>

        <!--
                <activity android:name=".activities.AccountFaceEditActivity"></activity>
        -->
<!--
        <activity android:name=".ui.activities.PublicationActivity"
            android:screenOrientation="portrait"></activity>
-->

    </application>

</manifest>